.list-pagination {
  margin: 30px auto 0 auto;
  text-align: center;
}

.ant-pagination-item{
  border: none;
}
.ant-pagination-item-active {
  background: #1890FF;
  color: #ffffff;
  border-radius: 4px;
}

.ant-pagination-item a{
  height: 24px;
  line-height: 24px;
}

.ant-pagination-item-active a{
  color: #ffffff;
  height: 24px;
  line-height: 24px;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: none;
}