.card-rate {
  position: absolute;
  bottom: 12px;
  left: 20px;
  font-size: 19px;
}

.ant-rate-star:not(:last-child) {
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .card-rate {
    right: 10px;
    left: auto;
  }
}
